@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";


* {
  -webkit-backdrop-filter: inherit;
}


  

  


.indie {
  font-family: "Indie Flower", cursive;
    font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}



.logo-shadow {
  filter: drop-shadow(0px 2px 1.5px rgba(0, 0, 0, 0.25))
          drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.25))
          drop-shadow(0px 10px 8px rgba(0, 0, 0, 0.2))
          drop-shadow(0px 20px 16px rgba(0, 0, 0, 0.18))
          drop-shadow(0px 40px 32px rgba(0, 0, 0, 0.15))
          drop-shadow(0px 80px 64px rgba(0, 0, 0, 0.12));
}


.soft-card-review-shadow {
   filter: 
    drop-shadow(0px 1.95px 6.11px rgba(0, 0, 0, 0.10))
    drop-shadow(0px 5.38px 16.9px rgba(0, 0, 0, 0.15))
    drop-shadow(0px 12.96px 40.7px rgba(0, 0, 0, 0.19))
    drop-shadow(0px 43px 135px rgba(0, 0, 0, 0.29));
}





.drop-shadow-hero-card {
  filter: 
    drop-shadow(0px -2.71px 2.21px #0000000C)
    drop-shadow(0px -6.52px 5.32px #00000012)
    drop-shadow(0px -12.27px 10.02px #00000016)
    drop-shadow(0px -21.89px 17.87px #0000001A)
    drop-shadow(0px -40.94px 33.42px #0000001F)
    drop-shadow(0px -98px 80px #0000002B);
}

.drop-shadow-section-title {
  filter:
    drop-shadow(0px 1.99px 1.59px #00000016)
    drop-shadow(0px 4.53px 3.62px #00000020)
    drop-shadow(0px 7.88px 6.31px #00000027)
    drop-shadow(0px 12.52px 10.02px #0000002E)
    drop-shadow(0px 19.32px 15.46px #00000034)
    drop-shadow(0px 30.15px 24.12px #0000003C)
    drop-shadow(0px 50.05px 40.04px #00000046)
    drop-shadow(0px 100px 80px #0000005C)
}



/* used in the plants image in the hero section */
.drop-shadow-hero-plant {
  filter: 
    drop-shadow(0px 0.54px 1.59px #00000007)
    drop-shadow(0px 1.22px 3.62px #0000000B)
    drop-shadow(0px 2.13px 6.31px #0000000D)
    drop-shadow(0px 3.38px 10.02px #0000000F)
    drop-shadow(0px 5.22px 15.46px #00000011)
    drop-shadow(0px 8.14px 24.12px #00000014)
    drop-shadow(0px 13.51px 40.04px #00000017)
    drop-shadow(0px 27px 80px #0000001F);
}



.drop-shadow-top-selling-plants {
  filter:
    drop-shadow(0 0.54px 1.59px #00000007)
    drop-shadow(0 1.22px 3.62px #0000000B)
    drop-shadow(0 2.13px 6.31px #0000000D)
    drop-shadow(0 3.38px 10.02px #0000000F)
    drop-shadow(0 5.22px 15.46px #00000011)
    drop-shadow(0 8.14px 24.12px #00000014)
    drop-shadow(0 13.51px 40.04px #00000017)
    drop-shadow(0 27px 80px #0000001F);
}


.drop-shadow-review{
  filter:
    drop-shadow(0 2.77px 2.21px #0000000B)
    drop-shadow(0 6.65px 5.32px #0000000F)
    drop-shadow(0 12.52px 10.02px #00000013)
    drop-shadow(0 22.34px 17.87px #00000017)
    drop-shadow(0 41.78px 33.42px #0000001B)
    drop-shadow(0 100px 80px #00000026)
}

.drop-shadow-o2-plant {
  filter:
    drop-shadow(0 -2.71px 2.21px #0000000C)
    drop-shadow(0 -6.52px 5.32px #00000012)
    drop-shadow(0 -12.27px 10.02px #00000016)
    drop-shadow(0 -21.89px 17.87px #0000001A)
    drop-shadow(0 -40.94px 33.42px #0000001F)
    drop-shadow(0 -98px 80px #0000002B)
}
